.article-outer-ind{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;

}
.list-box{
  margin-top: 20px;
}
.list-box-bold{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.article-index-list {
    width: 70%;
    text-align: center;
    display: inline-block;
    text-align: center;
    margin-bottom: -10px;
    margin-top: -10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px;
    padding-right: 24px;
}

.article-index{
  height: 400px;
  width: 80%;
  flex-direction: row;
  margin-left: auto;
}



.index-image{
  padding-top: 30px;
  width: 80%;
  height: 290px;
  border-radius: 10px;
}

.article-image{
  max-width: 80%;
  max-height: 400px;
}



.article-show{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.article-show-author{
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-show-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.article-show-image{
  width: 80%;
  object-fit: cover;
}

.links-menu{
  width: 20%;
  display: inline-block;
  position: absolute;
  overflow: visible;
  right: 5px;
  top: 200px;
 text-align: center;
}
.liberal-side-links{
 
  display: block;
  text-decoration: none;
  border-top: 1px solid blue;
 
  padding-top: 10px;

  list-style: none;
  padding-left: 0px;
 
  margin-bottom: 0px;
 
}
.conservative-side-links{

  display: block;
  text-decoration: none;
 
  border-top: 1px solid red;

  list-style: none;
  margin-left: 0;
  padding-left: 0px;
 
  margin-top: 0px;
  padding-top: 10px;

}

.menu-link-l{

  text-decoration: none;
  padding: 10px;
  color: black;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  

}
.liberal-link{
  background-color: rgba(0,0,255,.1);
  padding: 5px;
}
.conservative-link{
  background-color: rgba(255,0,0,.1);
  padding: 5px;
}