.sports-article-list{
    position: absolute;
    right: 5px;
    width: 20%;
    top: 75%;
    text-align: center;
    background: white;
    max-height: 200px;
    overflow: scroll;
}

.sports-articles-button{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgba(200, 200, 200);
    border-radius: 4px;
}

.sport-item{
    text-decoration: none;
    
    color: black;
    
    padding: 5px;
}