.comment-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(80, 70, 130, 0.6);
    padding: 10px;
     border-radius: 8px;
}

.comment-input{
    width: 90%;
    height: 70px;
    /* color: white; */
}
.comment-title{
    color: white;
}
.comment-button{
    margin-left: auto;
    width: 30%;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
    font-size: 14px;
    /* padding-right: 20px; */
    text-align: center;
    border: 1px solid rgb(48, 48, 203);
}

.content-container{
    background:  rgba(186,131,62, 0.4);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    

}

.comment{
    background-color: rgb(226, 225, 225);
    border: 1px solid lightblue;
    border-radius: 8px;
    min-height: 50px; 
    text-align: left;
    margin-bottom: 8px;
    margin-top: 5px;
    padding-left: 8px;
}

.comment-username{
    font-size: 12px;
    padding: 6px;
}
.article-comments{
    color: black;
    padding: 8px;
}
.discussion-link-4{
    text-decoration: none;
}
.user-comments-info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    
    border: 1px solid salmon;
    /* min-height: 500px; */
    border-radius: 3px;
    background-color: rgba(100, 100, 100, .5);
    position: absolute;
    margin-left: 5%;
    padding-bottom: 10px;
}
.user-stats{
    padding: 20px;
}
.user-icon{
    display: inline-block;
}
.user-stats-list{
    display: inline-block;
}
.comment-block{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.comment-title-with-link{
    border: 1px solid blue;
    /* text-align: center; */
    padding-left: 10px;
    /* min-height: 30px;
    align-content: center; */
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: 0;
    background-color: white;
    padding-bottom: 10px;
    padding: 20px;
}
.elephant{
    
    margin-left: 0;
    margin-right: 0;
    align-self: left;
    padding-left: 0;
    justify-self: left;
 
    color: red;
}
.donkey{
     
    margin-left: 0;
    margin-right: 0;
    align-self: left;
    padding-left: 0;
    justify-self: left;
    color: blue;
}
.comment-history-title{
    color: white;
   text-align: center;
   margin-bottom: 8px;
   margin-top: 8px;
}
.comment-info-content{
    border: 1px solid blue;
    border-top: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(224, 223, 223);
    min-height: 30px;
    margin-bottom: 10px;
}

.login-to-like{
    margin-top: 10px;
    background-color: rgba(100, 100, 100, .5);
    width: 75%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.view-comments-button{
    width: 100%;
    background-color:  rgba(186,131,62, 0.8);
    border: none;
    border-radius: 2px;
}
.view-comments-button:focus{
    outline: none;
}