.background-image-signup{
    background-image: url("../images/imagecollage.png");
    /* object-fit: cover; */
    min-height: 800px;
}
/* .right-nav-bar{
    position: absolute;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 30px;
} */
.login-form    {
    height: 400px;
    /* justify-self: center; */
    text-align: center;
    padding: 8px;
    background-color:rgba(0, 0, 0, .9);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 8px;
}
.link-change{
  color: white;
  text-decoration: none;
}

.link-change > a{
    text-decoration: none;
    color: white;
     background: rgba(0,116,217,1);
  background: -webkit-linear-gradient(top, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
  background: linear-gradient(to bottom, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
    padding: 4px;
    border-radius: 5px;

}
.session-form-submit{
    margin-top: 5px;
    color: white;
    background: rgba(0,116,217,1);
  background: -webkit-linear-gradient(top, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
  background: linear-gradient(to bottom, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
    padding: 4px;
    border-radius: 5px;
        width: 60%;
   
    font-size: 14px;
}

.login-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 20px;
    margin-bottom: 8px;
}
.password-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 20px;
}

.logout-button-h{
    width: 70px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    color: darksalmon;
}
.username-greeting{
    color: white;
    font-size: 14px;
    font-weight: 300px;
}

.right-nav-bar > a {
    text-decoration: none;
    color: white;
    padding-left: 4px;
}

.emblem{
    margin-bottom: 20px;
}

.middle-head-links > a{
    text-decoration: none;
    color: white;
    padding: 6px;
    border: .5px solid white;
}
.middle-head-links{
    margin-top: 10px;
}