.stock-widget{
     background-color: rgba(200, 200, 200);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: black;
    width: 15%;
    position: absolute;
    top: 50%;
    
    /* align-self: right; */
    /* justify-self: flex-end; */
}
.twitter-embed{
    position: absolute;
    top: 60%;
    /* left: 2%;
    wi */
    padding-left: 8px;
    width: 17%;
    /* padding: 20px; */
}