.weather-widget{
    background-color: rgba(0, 0, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    width: 15%;
    position: fixed;
    margin-left: 5px;
}

.selector{
    left: 0;
    bottom: 0;
    position: absolute;
    width: 50%;
    top: 90%;
}
.weather-buttons{
    width: 100%;
    background-color: rgb(104, 104, 241);
}
.selector-button{
    background-color: rgb(104, 104, 241);
    width: 100%;
    height: 40px;
    margin-left: 0px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}


.selector-button-mini{
   width: 100%;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
}
.selector > button:focus{
   outline: none;
}
